/HPC2N_easy.properties
/HPC2N_fcfs.properties
/KTH_easy.properties
/KTH_fcfs.properties
/LANL-CM5_easy.properties
/LANL-CM5_fcfs.properties
/Mira_easy.properties
/Mira_fcfs.properties
/SDSC_easy.properties
/SDSC_fcfs.properties
/CTC_easy.properties
/CTC_fcfs.properties
